<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p>Rating: <%= review.rating %></p>
<%end  %>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'home', restaurants_path %>