<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p>Rating: <%= review.rating %></p>
<%end  %>

<%#= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

<%= simple_form_for [ @restaurant, @review ] do |f| %> 
  <%= f.select :rating, (1..5)  %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to 'home', restaurants_path %>